<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <context-param>
        <description>admin user</description>
        <param-name>username</param-name>
        <param-value>chieu</param-value>
    </context-param>
    <context-param>
        <description>admin password</description>
        <param-name>password</param-name>
        <param-value>123</param-value>
    </context-param>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.LoginController</servlet-class>
        
    </servlet>
    <servlet>
        <servlet-name>productionplan</servlet-name>
        <servlet-class>controller.productionPlan.ProductionPlanCreateController</servlet-class>
    </servlet>
    <!--    <servlet>
        <servlet-name>EmployeeListController</servlet-name>
        <servlet-class>controller.employee.EmployeeListController</servlet-class>
    </servlet>-->
    <servlet>
        <servlet-name>EmployeeCreateController</servlet-name>
        <servlet-class>controller.employee.EmployeeCreateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmployeeCreate</servlet-name>
        <servlet-class>controller.employee.EmployeeCreate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmployeeListController</servlet-name>
        <servlet-class>controller.employee.EmployeeListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductionPlanList</servlet-name>
        <servlet-class>controller.productionPlan.ProductionPlanList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcductionPlanUpdate</servlet-name>
        <servlet-class>controller.productionPlan.ProcductionPlanUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductionPlanDetails</servlet-name>
        <servlet-class>controller.productionPlan.ProductionPlanDetails</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>StudentCreateController</servlet-name>
        <servlet-class>controller.StudentCreateController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StudentCreateController</servlet-name>
        <url-pattern>/student/create</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>StudentLoadController</servlet-name>
        <servlet-class>controller.StudentLoadController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StudentLoadController</servlet-name>
        <url-pattern>/student/load</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>productionplan</servlet-name>
        <url-pattern>/productionplan/create</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployeeCreate</servlet-name>
        <url-pattern>/employee/create</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployeeListController</servlet-name>
        <url-pattern>/employee/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductionPlanList</servlet-name>
        <url-pattern>/productionplan/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcductionPlanUpdate</servlet-name>
        <url-pattern>/productionplan/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductionPlanDetails</servlet-name>
        <url-pattern>/productionplan/detail</url-pattern>
    </servlet-mapping>
</web-app>
